{% extends 'base.html' %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto">
      
<form method="post">
  <div class="mb-3 row">
    <label for="title" class="form-label">Subject</label>
    <input name="title" class="form-control" id="title" value="{{ request.form['title'] }}" required>
  </div>
  <div class="mb-3 row">
    <label for="questions" class="form-label">Questions</label>
    <textarea class="form-control" name="questions" id="questions" required rows="3">{{ request.form['questions'] }}</textarea>
  </div>
  <div class="mb-3 row">
    <label for="date_given" class="form-label">Date Given</label>
    <input type="date" name="date_given" class="form-control" id="date_given" value="{{ request.form['date_given'] }}" required>
  </div>
  <div class="mb-3 row pt-3">
    <input class="btn btn-sm btn-primary" type="submit" value="Save">
  </div>
</form>

    </div>
  </div>
</div>
  
{% endblock %}
