{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row mt-3 pt-2">
    <div class="d-flex flex-row-reverse">
      {% if g.user %}
    {# <a class="btn btn-lg btn-info" href="{{ url_for('todoapp.create') }}">New Todo</a> #}
  {% endif %}
    </div>
  </div>
  <div class="row"
    <div class="col-md-8">
      <div class="border border-secondary pt-2 mt-2">
<table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">ID</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>

      
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      
      <td>{{ student['id'] }}</td>      
      <td>{{ student['firstname'] }}</td>
      <td> {{ student['lastname'] }}</td>
     
    </tr>
        
        
      
      
    
    {% if not loop.last %}
      
    {% endif %}
  {% endfor %}
  </tbody>
</table>
      </div>
  <div class="border border-secondary pt-2 mt-2">
<table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">ID</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>

      
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      
      <td>{{ student['id'] }}</td>      
      <td>{{ student['firstname'] }}</td>
      <td> {{ student['lastname'] }}</td>
     
    </tr>
        
        
      
      
    
    {% if not loop.last %}
      
    {% endif %}
  {% endfor %}
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>

{% endblock %}